<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{pieces/fornav}">
</head>

<body>
<div class="container fill-height">
    <div class="row">
        <div class="col-lg-1"></div>
        <div id="hello" class="col-lg-10">
            <h1 style="text-align:left;"> <strong>KURSOVAYA RABOTA PO UPRAVLENIY DANNIMY</strong>
            <br/><dl style="text-align:left;">
                    <u><dt>VIPOLNILI:</dt></u>
                    <dd>FIO1</dd>
                    <dd>FIO2</dd>
                    <dd>FIO3</dd>
                </dl></h1>
        </div>
        <div class="col-lg-1"></div>
    </div>
</div>
</body>
</html>