<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{pieces/wonav}">
</head>
<body>
<form id="myForm" th:action="@{/manage}"
      th:object="${manage}" method="POST">
    <input type="hidden" th:field="*{manageid}"/>
    <div class="form-group">
        <label>Enter the fullname:</label>
        <input type="text" th:field="*{fullname}" class="form-control">
    </div>
    <div class="form-group">
        <label>Enter the phonenumber:</label>
        <input type="text" th:field="*{phonenumber}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
</body>
</html>