<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{pieces/wonav}">
</head>
<body>
<form id="myForm" th:action="@{/vehicle}"
      th:object="${vehicle}" method="POST">
    <input type="hidden" th:field="*{vehicleid}"/>
    <div class="form-group">
        <label>Enter the licenseplate:</label>
        <input type="text" th:field="*{licenseplate}" class="form-control">
    </div>
    <div class="form-group">
        <label>Enter the model:</label>
        <input type="text" th:field="*{model}" class="form-control">
    </div>
    <div class="form-group">
        <label>Enter the fuelconsumption:</label>
        <input type="text" th:field="*{fuelconsumption}" class="form-control">
    </div>
    <div class="form-group">
        <label>Enter the carrying:</label>
        <input type="text" th:field="*{carrying}" class="form-control">
    </div>
    <div class="form-group">
        <label>Enter the wagonvolume:</label>
        <input type="text" th:field="*{wagonvolume}" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
</form>
</body>
</html>